.container {
    width: 450px;
      margin: auto;	
  }
  
button {
  padding: 25px 40px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: blueviolet;
  border-radius: 6px;
  outline: none;
}

button:hover {
    opacity: 0.8;
}

.tablesize{
  border: 1px;
  width: 450px; 
  height: 400px;
}

