<div class="features">
    <div class="features">
        <h1>OUR FEATURES</h1>
        <div class="cen">
            
            <div class="feature">
            <h2> Loan Tracker</h2>
            <p> Loan Tracker is an online loan application tracking platform. It helps you check the status of your Mortgage Loan from login to verified to sanction upon entering your loan application number(unique) and mobile number.</p>	
            </div>
            
            <div class="feature">
            <h2> Eligibility calculator</h2>
            <p> The eligibility calculator is one of the amazing features which receives user’s monthly income and shows the loan amount the user is eligible for using the following calculations:<br>
            Loan amount = 60 * (0.6 * net monthly salary).</p>	
            </div>
            
            <div class="feature">
            <h2>EMI Calculator</h2>
            <p>The EMI Calculator receives the loan amount and the loan tenure required keeping the interest rate constant at 8.5% and calculates the monthly EMI based on following Calculations:<br>
            EMI = P*R*[((1+R)^n)/((1+R)^n-1) ] </p>
            </div>
        </div>
    </div>
</div>    	