.features
{
	text-align: center;
}

.features h1
{
	display: inline-block;
	text-transform: uppercase;
	border-bottom: 4px solid #3498db;
}

.cen
{
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 20px;
}

.feature
{
	display: inline-block;
	width: calc(100%/3);
	margin: 0 -2px;
	padding: 20px;
	box-sizing: border-box;
	cursor: pointer;
	transition: 0.4s;
}	

.feature:hover
{
	background: #ddd;
}

.feature h2
{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 500;
}

.feature p
{
	color: gray;
	font-size: 15px;
	font-weight: 500;
}
