/*
eligib-calculator
*/
.card {
	background-color: lavender;
	padding: 20px;
	margin-top: 8px;
}

.main {
  width: 90%;
  margin: auto;	
}

input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display:inline-block;
	border: 1px solid;
	box-sizing: border-box;
}

button {
	background-color: blueviolet;
    color: black;
    font-size: 20px;
	padding: 14px 20px;
	margin: 8px 0;
	border : none;
	width:100%;
}

button:hover {
	opacity: 0.8;
}

.container {
	padding: 16px;
	width: 350px;
	margin: auto;
}

p,h3{
	text-align: center;
}
.ltabs{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	margin: auto;
	padding: 16px;
	width: 648px;
	float: left;
	border-bottom: 1px solid blue;
	transition: 150ms ease-in;
}

.ltabs:hover{
	background-color: lightblue;
	transition: background-color 150ms ease-in;
}

.rtabs{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	margin: auto;
	padding: 16px;
	border-bottom: 1px solid blue;
	transition: 150ms ease-in;
	background-color: lightblue;
}

.rtabs:hover{
	background-color: lightblue;
	transition: background-color 150ms ease-in;
}


	


