<div class="accordion">
    <label for="accordion1"><h2>What process does KarzDe follow after I apply for Home Loan?</h2></label>
    <input type="checkbox" id="accordion1">
        <h4 class="single-text">
            Once we receive the completed application form along with the necessary supporting documents, the following things happen:
            First, we examine all the papers you’ve handed in. When these are found to be in order, you get sanctioned a certain amount, depending on factors like: the amount you’d asked for, the 
            value of the collateral property, and your ability to repay loans (creditworthiness). 
            You can check the status of your loan application on the Loan Tracker. Just enter your application number and contact details, and you can instantly know whether your application has 
            been verified and approved or not.<br>
            If (for some reason) we decide not to sanction the loan, we’ll let you know the reason behind it.
            Next, our in-house lawyers and property experts will verify the property documents. They then carry out a thorough technical examination of the property in order to evaluate it.
            Upon completion of both these procedures, KarzDe initiates the disbursement of your Home Loan.
        </h4>
</div>

<div class="accordion">
    <label for="accordion2"><h2>What are the mandatory documents to be submitted to avail home loan from KarzDe?</h2></label>
    <input type="checkbox" id="accordion2">
        <h4 class="single-text">
            Application form:<br>
            - This is the primary document that your lender (KarzDe) considers as the deciding factor in approving (or ‘sanctioning’) your loan amount. Your application form carries other documentation such as the borrower’s (your) personal information, your contact details, details of the property offered as collateral, the total cost of that property, the total loan amount required, details regarding your income, and the loan tenure requested.<br>

            Documents:<br>
            - You’ll have to submit a set of documents (see ‘Documents’ page for details) depending on your loan application documents you’ve handed in.
            You can take a look at the essential documents here, but note that this may change subject to your customer profile:<br>
            - Pan Card<br>
            - Voter id<br>
            - Salary Slip<br>
            - LOA<br>
            - NOC from Builder<br>
            - Agreement To Sale<br>
        </h4>
</div>

<div class="accordion">
    <label for="accordion3"><h2>How will my Equated Monthly Installment (EMI) be calculated?</h2></label>
    <input type="checkbox" id="accordion3">
        <h4 class="single-text">
            Your EMI consists of two parts—paying back the principal amount you borrowed, plus the interest rates charged ‘on’ it. 
            Three factors come into the equation—<br>
                  - How much you borrowed<br> 
                  - The rate of interest<br> 
                  - The loan tenure<br>
			For more information, you can use our EMI Calculator and Eligibility Calculator and check it yourself!
        </h4>
</div>


<div class="accordion">
    <label for="accordion4"><h2>What are the general eligibility conditions for availing a home loan?</h2></label>
    <input type="checkbox" id="accordion4">
        <h4 class="single-text">
            The general eligibility conditions are as follows:<br>
						- The borrower should be a resident of India or an NRI<br>
						- He / she should be above 18years of age at the beginning of the loan<br>
						- Repayment should be up to the age of 70 years
        </h4>
</div>


<div class="accordion">
    <label for="accordion5"><h2>How is the maximum loan amount grantable calculated for a customer?</h2></label>
    <input type="checkbox" id="accordion5">
        <h4 class="single-text">
            We calculate maximum loan amount grantable using the formula:<br>
					Max Loan amount = 60 * (0.6 * net monthly salary)
        </h4>
</div>


<div class="accordion">
    <label for="accordion6"><h2>What is the minimum loan amount grantable?</h2></label>
    <input type="checkbox" id="accordion6">
        <h4 class="single-text">
            You need to apply for atleast Rs.500000 to avail home loan from KarzDe.
        </h4>
</div>


