
<h3 style="text-align: center;"> Fill the required fields! </h3><br>
			
		  
<h1><b>Personal details</b></h1> 
<br>

<form class="form-inline"> 
<label>Gender:</label> 
<input type="text" class="form-control" placeholder="Enter gender" name="gender">&nbsp;
<label>Address:</label> 
<input type="text" class="form-control" placeholder="Enter address" name="address">&nbsp;
<label>Nationality:</label> 
<input type="text" class="form-control" placeholder="Enter nationality" name="nationality">&nbsp;
<label>Aadhar Card Number:</label> 
<input type="text" class="form-control" placeholder="Enter aadhar card number" name="aadhar">&nbsp;
<label>PAN Card Number:</label> 
<input type="text" class="form-control" placeholder="Enter pan card number" name="pan"><br>
</form><br>

<h1><b>Property details</b></h1> 
<br> 

<form class="form-inline">
<label>Property Location:</label> 
<input type="text" class="form-control" placeholder="Enter property location" name="propLoc">&nbsp;
<label>Property Name:</label> 
<input type="text" class="form-control" placeholder="Enter property name" name="propName">&nbsp;
<label>Estimated Amount:</label> 
<input type="text" class="form-control" placeholder="Enter estimated amount" name="estamt"><br>		
</form><br>


<h1><b>Income details</b></h1> 
<br>


<form class="form-inline">
 <label>Retirement Age:</label> 
 <input type="text" class="form-control" placeholder="Enter retirement age" name="retage">&nbsp;	
 <label>Organization Type:</label> 
 <input type="text" class="form-control" placeholder="Enter organization type" name="organization">&nbsp;	
 <label>Employer Name:</label> 
 <input type="text" class="form-control" placeholder="Enter employer name" name="employer">&nbsp;	
 <label>Monthly Income:</label> 
 <input type="text" class="form-control" placeholder="Enter monthly income" name="monthlyincome"><br>				
</form><br>


<h1><b>Loan details</b></h1> 
<br>


<form class="form-inline">
 <label>Interest Rate:</label> 
 <input type="text" class="form-control" placeholder="Enter interest rate" name="interest">&nbsp;	
 <label>Tenure:</label> 
 <input type="text" class="form-control" placeholder="Enter tenure" name="tenure">&nbsp;	
 <label>Loan Amount:</label> 
 <input type="text" class="form-control" placeholder="Enter loan amount" name="loanamount"><br>			
</form><br>


<h1><b>Upload Documents</b></h1> 
<br>


<div class="docs">
 <label for="myfile">Pan Card:</label>&nbsp;&nbsp;&nbsp;
 <input type="file" name="pancard">&nbsp;&nbsp;&nbsp;&nbsp;
 <label for="voter">VoterID Card:</label>&nbsp;&nbsp;&nbsp;
 <input type="file" name="voter">&nbsp;&nbsp;&nbsp;&nbsp;
 <label for="salslip">Salary Slip:</label>&nbsp;&nbsp;&nbsp; 
 <input type="file" name="salslip">&nbsp;&nbsp;&nbsp;&nbsp;
 <label for="loa">Letter of Acceptance:</label>&nbsp;&nbsp;&nbsp;
 <input type="file" name="loa"><br>&nbsp;&nbsp;&nbsp;&nbsp;
 <label for="noc">NOC from builder:</label>&nbsp;&nbsp;&nbsp; 
 <input type="file" name="noc">&nbsp;&nbsp;&nbsp;&nbsp;
 <label for="ais">Agreement in Sale:</label>&nbsp;&nbsp;&nbsp; 
 <input type="file" name="ais"><br>				
</div>



<p style="text-align: center;">
<button type="submit" class="apply-button" routerLink='/application-form-completion'>Submit</button>
</p> 
		  