<div>
    <h1 class="team-text"> About Company </h1>
    <p style="text-align: center; font-size: 18px; font-family: 'Comic Sans MS', cursive, sans-serif;">
        KarzDe is the largest Mortgage Lender in India, which has helped many families to achieve the dream of owning a home.
    </p>
</div>
<div class="team-text"> Meet Our Team </div> <br>
    <div class="team-section">
        <div class="person">
            <img [src]="sahilnegiUrl" alt="" class="person-pic">
            <div class="person-info">
                <h2>Sahil Negi</h2>
                <p>Developer</p>
                <div class="socialmedia">
                    <a href="https://www.facebook.com/iamsahilnegi" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/iamsahilnegi" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/iamsahilnegi/" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/sahilnegi/" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>

        <div class="person">
            <img [src]="rishikabhatiaUrl" alt="" class="person-pic">
            <div class="person-info">
                <h2>Rishika Bhatia</h2>
                <p>Developer & Designer</p>
                <div class="socialmedia">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/rishika-bhatia-b00718153/" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>

        <div class="person">
            <img [src]="emaadsultanUrl" alt="" class="person-pic">
            <div class="person-info">
                <h2>Emaad Sultan</h2>
                <p>Developer</p>
                <div class="socialmedia">
                    <a href="https://www.facebook.com/emaad.sultan.3" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/es_thedeadman/" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/emaad-sultan-562359153/" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>

</div>