<table class="center">
        <tr>
            <th>Customer ID</th>
            <th>First Name</th>
            <th>Last Name</th>  
            <th>Email</th>
            <th>Date Of Birth</th>
            <th>City</th>
            <th>Mobile number</th>
            <th>Employment Type</th>
            <th>Property Location</th>
            <th>Property Name</th>
            <th>Estimated Amount</th>
            <th>Retirement Age</th>
            <th>Organization Type</th>
            <th>Employer Name</th>
            <th>Monthly Income</th>
            <th>Interest Rate</th>
            <th>Tenure(in years)</th>
            <th>Loan Amount</th>
        </tr>


        <tr>
            <td>1</td>
            <td>Sahil</td>
            <td>Negi</td>
            <td>sahil@negi.com</td>
            <td>1990-01-01</td>
            <td>Mumbai</td>
            <td>09554652222</td>
            <td>Salaried</td>
            <td>Kolkata</td>
            <td>Castle</td>
            <td>20000000000</td>
            <td>65</td>
            <td>Private</td>
            <td>LTI</td>
            <td>33000</td>
            <td>8.5</td>
            <td>3</td>
            <td>2000000</td>
        </tr>
</table><br>

<div class="container">
    <button style="background-color: green">Approve</button>&nbsp;
    <button style="background-color: red">Reject</button>
</div>