<p> KarzDe is an online customer portal where you can apply for Home Loan also you can calculate monthly EMI for the loan amount. </p>
<p> Whether you're looking to purchase, construct, or renovate a home, the KarzDe Home Loan is the one-stop solution for your housing loan needs. 
You can get finance easily, with simple eligibility terms and a minimal requirement for documentation.  
</p>

<p> To meet your housing loan needs, apply for the KarzDe Home Loan today and get instant approval.</p>

<h3> Click here to Apply for Home Loan!! </h3><br>

<p style="text-align: center;">
	<a class="apply-button" [routerLink]="['/application']">Apply Now</a>
</p>
